@import "tailwindcss";

:root {
    --color-primary: 255 193 7; /* Amber-500 */
    --color-secondary: 99 102 241; /* Indigo-500 */
    --color-text: 17 24 39; /* Gray-900 */
}

@layer base {
    .text-primary {
        color: rgb(var(--color-primary));
    }
    .bg-primary {
        background-color: rgb(var(--color-primary));
    }
    .text-secondary {
        color: rgb(var(--color-secondary));
    }
    .bg-secondary {
        background-color: rgb(var(--color-secondary));
    }
    .text-main {
        color: rgb(var(--color-text));
    }
}
